body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
/* section 1 start */
.sec1{
    background-image: url(inages_convert/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.b-conten{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    padding-top: 200px;
    width: 40%;
    margin: 0 auto;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 150px;
    color: #FFF;
}
.donate{
    text-decoration: none;
    background-color: #FF5959;
    color: #FFF;
    padding: 10px;
    border-radius: 3px;
}
/* section1 end */
/* d-conten start */
.d-conten{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amount button{
cursor: pointer;
padding: 50px;
background-color: #FAFAFA;
color: #707070;
font-size: 30px;
font-weight: 700;
border-radius: 5px;
border: 1px solid transparent;
}
.amount button:hover{
    border: solid #FF5959 2px;
    background-color: #FEE;
    color: #FF5959;
}
.d-conten textarea{
    border-bottom: solid#DADADA 5px;

}
/* d-conten end */